alias ls='ls -C --color=auto'
alias ll='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias ltr='ls -ltr'
alias ltrh='ls -ltrh'
alias diff='diff -u'
alias xopen='xdg-open'
alias halt='sudo halt -p'
alias reboot='sudo reboot'
alias vim='nvim'
